DATASOURCE_URL=jdbc:mysql://mysql:3306/fitness_monolith?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DATASOURCE_USER=root
DATASOURCE_PASSWORD=your_password_here
DATASOURCE_EXPIRATIONS=86400000
DATASOURCE_SECRET=your_base64url_secret_here
DATASOURCE_COOKIE=springBootFitness