DATASOURCE_URL=jdbc:postgresql://ep-fragrant-band-ans5cyiw-pooler.c-6.us-east-1.aws.neon.tech/fitness-monolith?sslmode=require
DATASOURCE_USER=neondb_ownerdocker
DATASOURCE_PASSWORD=your_password_here
DATASOURCE_EXPIRATIONS=86400000
DATASOURCE_SECRET=your_base64url_secret_here
DATASOURCE_COOKIE=springBootFitness


DATASOURCE_adminEmail=email
DATASOURCE_adminPassword=password
DATASOURCE_adminFirstName=Nishan
DATASOURCE_adminLastName=Singh

DATASOURCE_userEmail=email
DATASOURCE_userPassword=password
DATASOURCE_userFirstName=Teju
DATASOURCE_userLastName=Jaiswal